
@{
    ViewBag.Title = "GonderilenMesajlar";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
@using UdemyMurat.Models.Sınıflar
@model  PagedList.IPagedList<mesajlar>
@using PagedList;
@using PagedList.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Mailbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Mesaj qutusu</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("Partial", "CariPanel")
            </div>
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    @using (Html.BeginForm("MesajSil", "CariPanel", FormMethod.Post))
                    {
                        <div class="card-header">
                            <h3 class="card-title">Göndərilən qutusu</h3>
                            <div class="card-tools">
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="mailbox-controls">
                                <button  onClick="window.location.reload();" type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                                <div class="float-right">
                                    @Html.PagedListPager((IPagedList)Model, id => Url.Action("GelenMesajlar", new { id }),
        new PagedListRenderOptions
        {
            LiElementClasses = new List<string>
            { "page-link"}
        })
                                </div>
                            </div>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped">
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                                <td class="mailbox-name"><a href="~/CariPanel/MesajDetay/@item.MesajId">@item.Alici</a></td>
                                                <td class="mailbox-subject">
                                                    <b>@item.Konu</b> - @item.Icerik.Substring(0, 20).ToString()...
                                                </td>
                                                <td class="mailbox-attachment"></td>
                                                <td class="mailbox-date">@Convert.ToDateTime(item.Tarix).ToString("dd/MM/yyyy")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer p-0">
                            <div class="mailbox-controls">
                                <button  onClick="window.location.reload();" type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                                <div class="float-right">
                                    @Html.PagedListPager((IPagedList)Model, id => Url.Action("GelenMesajlar", new { id }),
                                   new PagedListRenderOptions
                                   {
                                       LiElementClasses = new List<string>
                                       { "page-link"}
                                   })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>

    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <script>
        $(function () {
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })
            $('.mailbox-star').click(function (e) {
                e.preventDefault()
                var $this = $(this).find('a > i')
                var glyph = $this.hasClass('glyphicon')
                var fa = $this.hasClass('fa')
                if (glyph) {
                    $this.toggleClass('glyphicon-star')
                    $this.toggleClass('glyphicon-star-empty')
                }
                if (fa) {
                    $this.toggleClass('fa-star')
                    $this.toggleClass('fa-star-o')
                }
            })
        })</script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>


    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>








